@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    //I think here I want to put currentCount = objAnnonymousSuggestion.votes then increment then save/update 
    private void IncrementCount()
    {
        currentCount++;
    }
}
