@inherits LayoutComponentBase

<PageTitle>Gu Central</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://github.com/isben23/GunonymouseSuggestion/tree/master#readme" target="_blank">ReadMe</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
